<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ADD NEW PRODUCT</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title th:utext="Products" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
</head>
<body>
	<div align="center">
		<h1>Edit and Updatet PRODUCT</h1>
		<form action="#" th:action="@{/delete_product}" method="post"
			th:object="${products}">
			<label>ID:</label> <input type="text" th:field="*{id}" /><br /> <label>Name:</label>
			<input type="text" th:field="*{name}" /><br /> <label>Category:</label>
			<input type="text" th:field="*{category}" /><br /> <br />

			<button type="submit">Delete</button>
		</form>
	</div>
</body>
</html>